<!-- Quote mod -->
<div id="{{id}}" class="full-size">
  <img id="{{id}}-pic" class="pic" src="images/{{{img.src}}}" alt="" />
  <div id="{{id}}-txt-wrapper" class="txt-wrapper ">
    <p class="minion quote-txt">
      {{#each txt.quoteTxt}}
      <span>{{{.}}}</span>
      {{/each}}
    </p>				
    <p class="brandon author">JOANNA GAINES</p>
  </div>
</div>
