<!-- {{id}} 2 Frame_prod_slide -->
<div id="{{id}}" class="full-size">
	<img id="{{id}}-pic-top" class="pic" src="images/{{{img1.src}}}" alt="" />
	<p id="{{id}}-txt1" class="brandon">
		<span class="minion">your home</span>
		<span class="brandon">YOUR</span>
		<span class="brandon">STYLE</span>
	</p>
	<img id="{{id}}-pic-btm" class="pic" src="images/{{img2.src}}" alt="" />
	<p id="{{id}}-txt2" class="brandon-m">
		<span>COLORS</span>
		<span>STYLES</span>
		<span>TEXTURES</span>
	</p>
</div>
